<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pay.library">

    <application>
        <activity-alias
            android:name="${PACKAGE_NAME}.wxapi.WXEntryActivity"
            android:exported="true"
            android:targetActivity=".wxpay.WXEntryActivity" />
        <activity-alias
            android:name="${PACKAGE_NAME}.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity=".wxpay.WXPayEntryActivity" />
    </application>

</manifest>
